openapi: 3.0.3
info:
  title: SheCodes AI API
  description: REST API for the SheCodes AI platform
  version: 1.0.0
servers:
  - url: https://api.shecodes-ai.com
paths:
  /courses:
    get:
      operationId: listCourses
      summary: List all courses
      tags: [courses]
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of courses to return
          schema:
            type: integer
        - name: category
          in: query
          required: false
          description: Filter by category
          schema:
            type: string
      responses:
        '200':
          description: A list of courses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
  /courses/{id}:
    get:
      operationId: getCourse
      summary: Get a course by ID
      tags: [courses]
      parameters:
        - name: id
          in: path
          required: true
          description: Course identifier
          schema:
            type: string
      responses:
        '200':
          description: Course details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
        '404':
          description: Course not found
  /users/enroll:
    post:
      operationId: enrollUser
      summary: Enroll a user in a course
      tags: [users]
      requestBody:
        required: true
        description: Enrollment details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollRequest'
      responses:
        '201':
          description: Enrollment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'
        '400':
          description: Invalid request
        '409':
          description: Already enrolled
components:
  schemas:
    Course:
      type: object
      required: [id, title, level]
      properties:
        id:
          type: string
          description: Unique course identifier
        title:
          type: string
          description: Course title
        description:
          type: string
          description: Full course description
        level:
          type: string
          description: Difficulty level
          enum: [beginner, intermediate, advanced]
        durationHours:
          type: integer
          description: Estimated hours to complete
    EnrollRequest:
      type: object
      required: [userId, courseId]
      properties:
        userId:
          type: string
          description: User to enroll
        courseId:
          type: string
          description: Course to enroll in
    Enrollment:
      type: object
      required: [id, userId, courseId, enrolledAt]
      properties:
        id:
          type: string
          description: Enrollment record ID
        userId:
          type: string
          description: Enrolled user ID
        courseId:
          type: string
          description: Course ID
        enrolledAt:
          type: string
          format: date-time
          description: When the enrollment was created
